
*,
*::before,
*::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem;
}

.menu-list-mobile > li > a {
  color: #000;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
  padding-left: 12px;
  list-style-type: none;
}

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s ease-in-out;
  background-color: #ec5242;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  list-style-type: none;
  display: none;
}

.menu-links {
  display: none;
}

.mobile {
  font-size: 2rem;
  font-weight: 900;
  background: linear-gradient(to top right, blue, red, gold, purple, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3.mobile {
  align-self: center;
  text-decoration: none;
}

.about-intro {
  background-image: url(../images/mobile-bg.png);
}

.primary-h1 {
  font-size: 3rem;
  font-weight: 900;
  background: linear-gradient(to top right, blue, red, gold, purple, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 5%;
}

.secondary-text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #515151;
  padding: 5%;
  background-color: #fff;
}

.about__contact {
  background-color: #f7f7f8;
  text-align: center;
}

.about__giveaway-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border-bottom: 1px solid #ddd;
}

.about__giveaway-h3 {
  margin-bottom: 1rem;
}

.about__giveaway-h3::after {
  content: "";
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 1em;
  color: #a04038;
  border-bottom: 2px solid;
  align-self: center;
  transform: translateX(40%);
}

.giveaway-details {
  padding: 1rem;
  text-align: center;
}

.fodera-box {
  width: 80%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  margin-bottom: 3rem;
}

.fodera-img {
  font-size: 4rem;
  font-weight: 900;
  background: linear-gradient(to top right, blue, red, gold, purple, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
  ABOUT
  PAST CONFERENCES
  */

.about__past-conferences-section {
  padding: 1rem;
}

.about__past-conf-section-header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.past-conf-p {
  text-align: center;
}

.event-box {
  background-image: url(images/conf1.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.event-box:last-child {
  background-image: url(images/conf2.jpg);
}

.event-text {
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgba(255, 0, 0, 0.4);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 900;
}

.event-text span {
  display: block;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 0.7rem;
}

/*
  ABOUT
  PARTNERS
  */

.about__partners-section {
  color: #fff;
  background-color: #414246;
  text-align: center;
  padding-top: 2rem;
  margin-top: 2rem;
}

.about__partner-h3 {
  margin-bottom: 2rem;
}

.partners-images {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem 2rem;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.partner-img-box {
  width: 5rem;
}

.partner-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*
  ABOUT
  FOOTER
  */

footer {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1.7rem;
}

.year,
.rights,
.copyright {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
}

.site-name-footer {
  font-weight: 900;
  font-size: 1rem;
  background: linear-gradient(to top right, blue, red, orange, purple, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
}
